<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create your quiz here!</title>
  <link rel="stylesheet" href="/styles/createQuiz.css">
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <nav>
    <ul>


    </ul>
  </nav>

  <div id="quiz-link"></div>

  <form class="create-quiz-form" id="create-quiz-form" action="/createquiz" method="POST">
    <div class="quizInfo">

      <label for="quiz-name">Quiz Name:</label>
      <input id="quiz-name" name="quizName" type="text" required>


      <div class="category-buttons">
        <a href="/quiztypes/1">
          <button onclick="filterItems('category1')">Math</button>
        </a>

        <a href="/quiztypes/2">
          <button onclick="filterItems('category2')">Science</button>
        </a>

        <a href="/quiztypes/3">
          <button onclick="filterItems('category3')">Tech</button>
        </a>
      </div>

    <div class="QuizVisibility">
      <label>Quiz Visibility:</label>
      <div class="publicPrivateButton">

        <label for="public">Public</label>
        <input id="public" type="radio" name="quizVisibility" value="public" checked>

        <label for="private">Private</label>
        <input id="private" type="radio" name="quizVisibility" value="private">
      </div>
    </div>


    <div class=questionBox>
      <label for="question">Question:</label>
      <textarea id="question" name="question1"></textarea>
    </div>

    <div class="answers">
      <label for="answer1">Answer 1:</label>

      <input id="answer1" name="answer1" type="text">

      <label for="answer2">Answer 2:</label>
      <input id="answer2" name="answer2" type="text">

      <label for="answer3">Answer 3:</label>
      <input id="answer3" name="answer3" type="text">

      <label for="correct-answer">*Correct Answer*:</label>
      <select id="correct-answer" name="correct-answer">

        <option value=""> </option>
        <option value="answer1">Answer 1</option>
        <option value="answer2">Answer 2</option>
        <option value="answer3">Answer 3</option>

      </select>
    </div>



  </form>

  <div class="buttons">
    <button id="submit-quiz-btn" type="submit">Save Quiz</button>

  </div>

  <div id="oldQuestion"></div>


  <script defer src="/scripts/quiz.js"></script>
</body>

</html>
