<!-- views/quizResults.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/quizResults.css">
    <title>Quiz Result</title>
</head>
<body>
    <h1>Quiz Result</h1>
    <h2> Here's your quiz results!!</h2>
    <p>Score: <%= score %></p>
    <h3>If you want to retry feel free to click button below! Thank you for taking the quiz!</h3>
    <a href="/"><button class="my-button">Take Another Quiz!</button></a>
</body>
</html>
