body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(47, 3, 69);
}

.quiz-card {
  border: 1px solid #a10000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px #ccc;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incorrect-answer {
  border:red solid 1px;
}

/* styles/mains.scss */
nav {
  background-color: rgb(86, 0, 161);
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #380e62;
}

/* styles/mains.scss */
h1 {
  font-size: 2em;
  color: rgb(112, 0, 168);
}

p {
  color: #666666;
}


@media (max-width: 600px) {
  /* Add styles for smaller screens here */
  nav {
      font-size: 14px;
  }

  h1 {
      font-size: 1.5em;
  }
}
